<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stepscounter">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.samsung.android.health.permission.READ_STEP_COUNT"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- For Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/> <!-- For health-related service -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Declare SignUpActivity -->
        <activity android:name=".SignUpActivity"
            android:exported="false"/>
        <activity android:name=".Online" />
        <activity android:name=".Profile" />
        <!-- Declare SignInActivity -->
        <activity android:name=".SignInActivity"
            android:exported="false"/>

        <!-- Declare MainActivity with Intent Filter -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Declare StepService for background step tracking -->
        <service
            android:name=".StepService"
            android:exported="false"
            android:foregroundServiceType="health" />
        <receiver android:name=".ResetStepsReceiver"
            android:exported="true" />
    </application>
</manifest>